includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    level: 6
    paths:
        - src
        - migrations
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: true
    doctrine:
    	objectManagerLoader: tests/object-manager.php
    checkGenericClassInNonGenericObjectType: false