body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 1.5dvw;
}

form {
    display: flex;
    flex-wrap: wrap;
}

input {
    flex: 1 1 10ch;
    margin: .5rem;
}

input[type="url"] {
    flex: 3 1 30ch;
}


input {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

input[type="submit"] {
    background: #214286;
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
}

div#short-links-list {
    overflow-y: auto;
    height: 20rem;
    margin-top: 1rem;
}

div.short-links-list-item {
    align-items: center;
    background: #fff;
    border: 1px solid #214286;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 12px;
}


